*,*::before,*::after {
    margin: 0;
    padding: 6px;
    box-sizing: border-box;
}

@font-face{
    font-family: PopLight;
    src: url(./media/fonts/Poppins-Light.ttf);
}
@font-face{
    font-family: PopRegular;
    src: url(./media/fonts/Poppins-Regular.ttf);
}

body {
    font-family: PopLight;
    background-color: rgb(0, 0, 0);
}

main {
    background-color: black;
    flex-direction: column;
}
main label:nth-child(2)
{
    color: white;
}

#districts{
    background-color: rgb(41, 38, 38);
    color: white;
    font-family: PopRegular;
}

div {
    font-family: PopRegular;
    color: white;
    font-size: 50px;
    display: flex;
    height: 150px;
    width: 100%;
}
#map{
    margin-top: .5em;
}
#result {
    align-items: center;
    vertical-align:middle;
}
h1{
    width: 100%;
    text-align: center;
}
p{
    background-color: rgb(41, 38, 38);
    margin-top: .5em;
    color: white;
}
#nombreDistrito{
    font-size: 1.5em;
}
span #enum{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}
.rateSI{
    font-weight: bold;
    color: crimson;
    font-size: 1.5em;
}
.rateNO{
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

/* .yesOrNo {
    display: flex;
    width: 100%;
    align-self: center;
    justify-self: center;
}
 */


.ct-chart-line {
    width: 100%;
    height: 40vh;
    background-color: rgb(41, 38, 38);
}
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: red;
}

.ct-label.ct-horizontal{
    visibility: hidden;
}
.ct-label.ct-vertical{
    color: white;
}
.ct-grid {
    stroke: rgba(180, 180, 180, 0.2); 
}
.ct-line{
    stroke-width: 1px;
}
.ct-point{
    stroke-width: 5px;
}
@media only screen and (min-width: 768px)
{
    .ct-label.ct-horizontal{
        color: white;
        /* transform: rotate(-90deg); */
        visibility: visible;
    }
}
@media only screen and (min-width: 1280px)
{
    .ct-label.ct-horizontal{
        transform: rotate(0deg);
    }
}
.leaflet-control-container {
    display: none;
}
